/*https://stackoverflow.com/questions/60975534/css-set-border-radius-relative-to-height*/
/*Grid and Flex box was learned from the youtube channel 'Coding2Go'*/
/* Remove background-color at end*/
/* Only problem is that the curve of the border looks weird when you shrink the height of the viewport too much.*/
.cuisine {
    display: grid;
    box-shadow: 0 4px 12px;
    margin: 2%;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "H I"
        "P I";
    border-end-end-radius: 150px 50%;
    border-start-end-radius: 150px 50%;
    border-end-start-radius: 10vh;
    border-start-start-radius: 10vh;
    overflow: hidden;
}

/* https://www.w3schools.com/TAgs/att_dir.asp */

.cuisine img {
    grid-area: I;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cuisine h1 {
    font-family: system-ui;
    grid-area: H;
    text-decoration: underline;
    text-transform: uppercase;
    margin-inline: 1rem;
    margin-block: 0;
    font-size: 80px;
    text-align:center;
    letter-spacing: 5px;
}

.cuisine p {
    grid-area: P;
    font-family: Calibri;
    margin-left: 3vh;
    margin-right: 0vh;
    margin-top: 0vh;
    margin-bottom: 3vh;
    font-size: 30px;
    direction: ltr;
}


.video {
    width: 80%
}


.celebrity li{
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    grid-auto-flow:column;
    overflow:scroll
}

.mythology p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}