/*https://stackoverflow.com/questions/60975534/css-set-border-radius-relative-to-height*/
/*Grid and Flex box was learned from the youtube channel 'Coding2Go'*/
/* I tried using:
        --height: auto;
        border-top-right-radius: calc(var(--height) * 0.5);
        border-bottom-right-radius: calc(var(--height) * 0.5);
   but you can't calculate with a variable using auto. This means that if the viewable height (vh) of the box is too big for the page then it won't be fully curved.*/

/* Remove background-color at end*/
.cuisine {
    display: grid;
    box-shadow: 10px 10px 20px;
    margin: 2%;;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
        "H I"
        "P I";
    border-end-end-radius: 50vh;
    border-start-end-radius: 50vh;
    border-end-start-radius: 10vh;
    border-start-start-radius: 10vh;
    background: linear-gradient(135deg);
}

/* https://www.w3schools.com/TAgs/att_dir.asp */

.cuisine img {
    grid-area: I;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-end-end-radius: 50vh;
    border-start-end-radius: 50vh;
    box-shadow: 100px 100px 0px inset;
}

.cuisine h1 {
    font-family: system-ui;
    grid-area: H;
    text-decoration: underline;
    text-transform: uppercase;
    margin-inline: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 80px;
    text-align:center;
    letter-spacing: min(1em, 10px);
}

.cuisine p {
    grid-area: P;
    font-family: Calibri;
    overflow-wrap: break-word;
    margin-inline: 1rem;
    padding: 0%;
    font-size: 30px;
    direction: ltr;
}


.video {
    width: 80%
}


.celebrity li{
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    grid-auto-flow:column;
    overflow:scroll
}

.mythology p {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}