/*https://stackoverflow.com/questions/60975534/css-set-border-radius-relative-to-height*/
/*Grid and Flex box was learned from the youtube channel 'Coding2Go'*/
/* Remove background-color at end*/
/* Only problem is that the curve of the border looks weird when you shrink the height of the viewport too much.*/
html {
    background-color: #1d2327;
}

body {
    background-color: #444444;
    background-blend-mode: overlay;
    height: 100%;
    margin: 0;
}










.page-nav {
    height: 70px;
    box-shadow: 0 2px 10px;
}

.page-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.page-nav li {
    flex: 1;
    height: 100%;
}

.page-nav img {
    width: 70px;
    height: 50px;
    border-radius: 15px;
}

.page-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-color: #222222;
    background-blend-mode: overlay;
    background-position-y: center;
    outline: 0px solid black;
}

.page-nav a:hover {
    transition: 1s;
    transform: scale(1.05);
    background-color: #777777;
    box-shadow: 0 2px 10px black;
}










.cuisine {
    display: grid;
    box-shadow: 0 4px 12px;
    margin: 2%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "H I"
        "P I";
    border-end-end-radius: 150px 50%;
    border-start-end-radius: 150px 50%;
    border-end-start-radius: 10vh;
    border-start-start-radius: 10vh;
    overflow: hidden;
}

/* https://www.w3schools.com/TAgs/att_dir.asp */

.cuisine img {
    grid-area: I;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cuisine h1 {
    font-family: system-ui;
    grid-area: H;
    text-decoration: underline;
    text-transform: uppercase;
    margin-inline: 1rem;
    margin-block: 0;
    font-size: 80px;
    text-align:center;
    letter-spacing: 5px;
}

.cuisine p {
    grid-area: P;
    font-family: Calibri;
    margin-left: 3vh;
    margin-right: 0vh;
    margin-top: 0vh;
    margin-bottom: 3vh;
    font-size: 30px;
    direction: ltr;
}










.video {
    width: 80%
}










.celebrity li{
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    grid-auto-flow:column;
    overflow:scroll
}








.mythology {
    display: grid;
    margin: 2%;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "I H"
        "I P";
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
    border-radius: 50px;
    box-shadow: 0 4px 12px;
}

/* #fdfdfd softens the text*/
.mythology p, .mythology h1 {
    margin-inline: 1rem;
    margin-block: 0;
    color: #fdfdfd;
    text-shadow: 2px 2px 8px black;
}

/* https://www.w3schools.com/cssref//func_clamp.php */

.mythology h1 {
    grid-area: H;
    font-family: system-ui;
    font-size: clamp(2rem, 6vw, 80px);
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.mythology p {
    grid-area: P;
    font-family: Calibri;
    font-size: 30px;
    margin: 0vh;
    direction: ltr;
    width: min(100%, 550px);
}

.mythology img {
    grid-area: I;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
    width: min(100%, 550px);
}