/*https://stackoverflow.com/questions/60975534/css-set-border-radius-relative-to-height*/
/*Grid and Flex box was learned from the youtube channel 'Coding2Go'*/
/* I tried using:
        --height: auto;
        border-top-right-radius: calc(var(--height) * 0.5);
        border-bottom-right-radius: calc(var(--height) * 0.5);
   but you can't calculate with a variable using auto. This means that if the viewable height (vh) of the box is too big for the page then it won't be fully curved.*/

/* Remove background-color at end*/
.cuisine {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "h1 img"
        "p img";
    min-height: 300px;
    box-shadow: 10px 10px 20px;
    margin: 2%;
    border-top-right-radius: 50vh;
    border-bottom-right-radius: 50vh;
    border-top-left-radius: 10vh;
    border-bottom-left-radius: 10vh;
}

.cuisine img {
    grid-area: img;
    height: 100%;
    width: 100%;
    border-top-right-radius: 50vh;
    border-bottom-right-radius: 50vh;
    object-fit: cover;
}

.cuisine h1 {
    font-family: system-ui;
    grid-area: h1;
    text-decoration: underline;
    text-transform: uppercase;
    overflow-wrap: break-word;
    margin-left: 4%;
    margin-right: 2%;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 0%;
}

.cuisine p {
    grid-area: p;
    font-family: Calibri;
    overflow-wrap: break-word;
    margin-left: 4%;
    margin-right: 2%;
    margin-top: 0%;
    font-size: 25px;
}



.celebrity li{
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-rows: 300px;
    grid-auto-flow:column;
    overflow:scroll
}