body {
    background-image: url("../IMAGES/irish_food.jpg") !important;
}

#carouselExample .carousel-item,
#carouselExample .carousel-item img {
    height: 400px;
    width: 100%;
    object-fit: cover; /* obtained from w3 schools, this element scales the image to fit the box/maintains aspect ratio */
}
.container {
    border: 10px solid green;
    padding-left: 0 !important; /*the important element bypasses any other conditions applied and ensures it has priority*/
    padding-right: 0 !important;
    max-width: 800px !important;
    width: 100%;
    margin: 0 auto;
    margin-top: 35px;
}
.carousel-caption p, .carousel-caption h5 {
    color: #FFFFFF;
    text-align: center;
    text-shadow: 1px 1px 5px black, -1px -1px 5px, 0 0 10px black, 1px 0 black, 0 -1px black; /* obtained from w3 schools, this makes text in images easier to read. */
}
.carousel-caption p {
    font-size: 20px !important;
}
.carousel-caption h5 {
    font-size: 40px !important;
}

.carousel-caption { 
    bottom: 1rem !important; 
    text-align: center; 
    display: block;
}

.video-container {
    margin-top: 15px;
    margin-bottom: 30px;
}

.title_container {
    width: 600px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 40px;
    border: 4px solid green;
}

.title_container h1 {
    font-size: 40px;
    font-weight: bold !important;
}