body {
    background-image: url("../IMAGES/history_background.jpg");
}

p {
    font-size: 20px;
}

h2 {
    font-family: Arial;
    text-align: center;
    text-decoration: underline;
    font-size: 25px !important;
}

footer {
    background-color: black !important;
    color: white !important;
}

.card-img-top {
    height: 250px !important;
    object-fit: cover !important;
    width: 100 !important;
}

.card-body {
    text-align: center;
    flex: 1 !important;
    overflow-y: auto;
}

.card {
    height: 600px !important;
    max-height: 820px !important;
}

.title_container {
    width: 600px;
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 40px;
    border: 4px solid black;
}

.title_container h1 {
    font-size: 40px;
    font-weight: bold !important;
}

h1, h2, h3, h4, h5, p {
    font-family:Arial, Helvetica, sans-serif !important;
    font-weight: normal !important;
}
